#user-photo {
	position: absolute;

	width: 6rem;
	height: 6rem;

	margin: 0 auto;

	border-radius: 10%;

	overflow: hidden;

	z-index: 1;
	cursor: pointer;

	transform: translate(55%, -40%);
	.material-shadow;

	img{
		width: 6rem;
		height: 6rem;
		object-fit: cover;
		object-position: center;
	}
}

.left-profile {
	position: absolute;

	width: 12.4rem;
	height: 100%;

	padding: 4rem 0 0 0;
	border-top: 1rem solid @el-blue;
	border-bottom: 1rem solid @el-blue;

	box-sizing: border-box;

	background: #ffffff;
	.material-shadow;

	.menu-item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		align-items: center;

		width: 100%;
		line-height: 2rem;
		margin: 0 0 0.2rem 0;
	}
}

.user-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-direction: column;
}


.action-button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-direction: row;

	align-items: center;

	width: 100%;

	border-left: .2rem solid #CACACA;
	padding: 0 0 0 1rem;
	margin: 0;
	box-sizing: border-box;

	text-align: left;
	font-size: 14px;
	cursor: pointer;
	background: #FFF;
	box-shadow: 0px 0px 0px 0px #fff;

	transition: box-shadow 0.1s ease-in;
	&:hover {
		.button-hover-shadow;
	}
	&:active {
		box-shadow: 0px 0px 0px 0px #fff;
	}
	span {
		margin: 0 0 0 1rem;
	}
}
