.post-new {
	width: 30rem;
	height: 31rem;

	align-self: center;
	margin: 0 auto;

	border-radius: 5px;
	background: #fff;


	transform: translate3d(0, 0, 0);

	transition: opacity 0.3s cubic-bezier(0.72, -0.15, 0.22, 1.38), transform 0.3s cubic-bezier(0.72, -0.15, 0.22, 1.38);
	opacity: 1;
	overflow: hidden;

	.material-shadow;

	&.hide-offcanvas {
		pointer-events: none;
		opacity: 0;
		transform: translate3d(0, 0, -5px);
	}
	.mediacontainer {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 13rem;

		border-radius: 5px;
		margin: 0 0 1rem 0;

		background: #ddd;

		cursor: pointer;

		.thumb {
			width: 100%;
			height: 100%;

			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		i {
			font-size: 10rem;
			color: #9A9A9A;
		}

	}
	form {
		margin: 4rem 1rem 0 1rem;
		display: flex;
		flex-direction: column;
		input, textarea {
			margin: 0 0 1rem 0;

			border: 1px solid #ccc;
			border-radius: 3px;
			padding: 1rem;
			box-sizing: border-box;
			&:focus {
				border: 1px solid #ddd;

				outline: none;
				background: rgba(251, 251, 251, 0.41);
			}
		}
		textarea {
			height: 8rem;
			resize: none;
		}
	}

	#post-to-profile {
		max-width: 85%;
		min-height: 3rem;

		border-left: none;
		padding: 0;
		margin: 0 auto;

		justify-content: center;
		text-align: center;
	}
}

#closeWallPost {
	float: right;

	padding: 0.5rem;

  cursor: pointer;

	&:before {
		content: 'New post';

    position: absolute;
		left: 0;
		top: 0;

    width: 100%;
    height: 3rem;

		border-radius: 5px 5px 0 0;
    line-height: 3rem;

		text-align: center;

		background: @el-blue;
		color: #fff;

    z-index: -1;

		pointer-events: none;
	}
	i {
		color: #fff;
	}
}
