#wall-post.post-new.hide-offcanvas
	#closeWallPost 
		i.material-icons clear
	form(name='wallPost', action='', method='post', id='wallForm', enctype='multipart/form-data')
		.mediacontainer#new-profile-post
			i.material-icons photo_camera
		input(name='media', type='file', id='uploadmedia', style='display:none')
		textarea(name='comment' type='text' id='comment')
	p(class='action-button' id='post-to-profile')
		i.material-icons send
		span Post to profile
