
.homepage-wrapper{
	position: absolute;

	width: 100%;
	height: 100%;

	background: url('../images/homepage/vid.jpg');

	background-size: cover;
	background-repeat: no-repeat;

	overflow: hidden;
	.titles{
		position: absolute;
    padding: 1.17em;
    text-align: center;

		.title{
			font-size: 13.28rem;
	    color: rgb(255, 255, 255);
	    text-shadow: 22px 15px 0px rgba(0, 0, 0, 0.17);
		}
	}
}
