
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.containerLogin {
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
  top: 50%;
  transform: translate(0, -50%);
  .info {
    display: none;
  }
  .reason{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    line-height: 5em;
    color: #ED2553;
  }
  &.active {
    .cardLogin:first-child {
      background: #f2f2f2;
      margin: 0 15px;
    }
    .cardLogin:nth-child(2) {
      background: #fafafa;
      margin: 0 10px;
    }
    .cardLogin.alt {
      top: 20px;
      right: 0;
      width: 100%;
      min-width: 100%;
      height: auto;
      border-radius: 5px;
      padding: 60px 0 40px;
      overflow: hidden;
      .info{
        display: block;
        text-align: center;
        color: #fff;
        position: absolute;
        width: 100%;
        top: 0;
        line-height: 6em;
      }
    }
    .cardLogin.alt .toggle {
      position: absolute;
      top: 40px;
      right: -70px;
      box-shadow: none;
      -webkit-transform: scale(10);
      transform: scale(10);
      -webkit-transition: -webkit-transform .3s ease;
      transition: transform .3s ease, -webkit-transform .3s ease;
    }
    .cardLogin.alt .toggle:before {
      content: '';
    }
    .cardLogin.alt .title {
      left: 0;
      opacity: 1;
      visibility: visible;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      -webkit-transition-delay: .3s;
      transition-delay: .3s;
    }
    .cardLogin.alt .input-container {
      left: 0;
      opacity: 1;
      visibility: visible;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      -webkit-transition-delay: .4s;
      transition-delay: .4s;
    }
    .cardLogin.alt .input-container:nth-child(2) {
      -webkit-transition-delay: .5s;
      transition-delay: .5s;
    }
    .cardLogin.alt .input-container:nth-child(3) {
      -webkit-transition-delay: .6s;
      transition-delay: .6s;
    }
    .cardLogin.alt .button-container {
      left: 0;
      opacity: 1;
      visibility: visible;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      -webkit-transition-delay: .7s;
      transition-delay: .7s;
    }
  }
}

.cardLogin {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  &:first-child {
    background: #fafafa;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
  }
  .title {
    position: relative;
    z-index: 1;
    border-left: 5px solid #ed2553;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #ed2553;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .input-container {
    position: relative;
    margin: 0 60px 30px;
    input {
      outline: none;
      z-index: 1;
      position: relative;
      background: none;
      width: 100%;
      height: 60px;
      border: 0;
      color: #212121;
      font-size: 24px;
      font-weight: 400;
    }
    input:focus ~ label {
      color: #9d9d9d;
      -webkit-transform: translate(-12%, -50%) scale(0.75);
      transform: translate(-12%, -50%) scale(0.75);
    }
    input:focus ~ .bar:before {
      width: 50%;
    }
    input:focus ~ .bar:after {
      width: 50%;
    }
    input:valid ~ label {
      color: #9d9d9d;
      -webkit-transform: translate(-12%, -50%) scale(0.75);
      transform: translate(-12%, -50%) scale(0.75);
    }
    label {
      position: absolute;
      top: 0;
      left: 0;
      color: #757575;
      font-size: 24px;
      font-weight: 300;
      line-height: 60px;
      -webkit-transition: 0.2s ease;
      transition: 0.2s ease;
    }
    .bar {
      position: absolute;
      left: 0;
      bottom: 0;
      background: #757575;
      width: 100%;
      height: 1px;
    }
    .bar:before {
      content: '';
      position: absolute;
      background: #ed2553;
      width: 0;
      height: 2px;
      -webkit-transition: .2s ease;
      transition: .2s ease;
      left: 50%;
    }
    .bar:after {
      content: '';
      position: absolute;
      background: #ed2553;
      width: 0;
      height: 2px;
      -webkit-transition: .2s ease;
      transition: .2s ease;
      right: 50%;
    }
  }
  .button-container {
    margin: 0 60px;
    text-align: center;
    button {
      outline: 0;
      cursor: pointer;
      position: relative;
      display: inline-block;
      background: 0;
      width: 240px;
      border: 2px solid #e3e3e3;
      padding: 20px 0;
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      overflow: hidden;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
    button span {
      position: relative;
      z-index: 1;
      color: #ddd;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
    button:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      background: #ed2553;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      margin: -15px 0 0 -15px;
      opacity: 0;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
    button:hover {
      border-color: #ed2553;
    }
    button:hover span {
      color: #ed2553;
    }
    button:active {
      border-color: #ed2553;
    }
    button:active span {
      color: #ffffff;
    }
    button:active:before {
      opacity: 1;
      -webkit-transform: scale(10);
      transform: scale(10);
    }
    button:focus {
      border-color: #ed2553;
    }
    button:focus span {
      color: #ffffff;
    }
    button:focus:before {
      opacity: 1;
      -webkit-transform: scale(10);
      transform: scale(10);
    }
  }
  .footer {
    margin: 40px 0 0;
    color: #d3d3d3;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    a {
      color: inherit;
      text-decoration: none;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
    a:hover {
      color: #bababa;
    }
  }
  &.alt {
    position: absolute;
    top: 40px;
    right: -70px;
    z-index: 10;
    width: 140px;
    height: 140px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    .toggle {
      position: relative;
      background: #ed2553;
      width: 140px;
      height: 140px;
      border-radius: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      color: #ffffff;
      font-size: 58px;
      line-height: 140px;
      text-align: center;
      cursor: pointer;
    }
    .toggle:before {
      content: 'Signup';
      display: block;
      font-size: 0.628em;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    .title {
      left: 100px;
      opacity: 0;
      visibility: hidden;
      position: relative;
      border-color: #ffffff;
      color: #ffffff;
    }
    .title .close {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 60px;
      display: inline;
      color: #ffffff;
      font-size: 58px;
      font-weight: 400;
    }
    .title .close:before {
      content: '\00d7';
    }
    .input-container {
      left: 100px;
      opacity: 0;
      visibility: hidden;
    }
    .input-container input {
      color: #ffffff;
    }
    .input-container input:focus ~ label {
      color: #ffffff;
    }
    .input-container input:focus ~ .bar:before {
      background: #ffffff;
    }
    .input-container input:focus ~ .bar:after {
      background: #ffffff;
    }
    .input-container input:valid ~ label {
      color: #ffffff;
    }
    .input-container label {
      color: rgba(255, 255, 255, 0.8);
    }
    .input-container .bar {
      background: rgba(255, 255, 255, 0.8);
    }
    .button-container {
      left: 100px;
      opacity: 0;
      visibility: hidden;
    }
    .button-container button {
      width: 100%;
      background: #ffffff;
      border-color: #ffffff;
    }
    .button-container button span {
      color: #ed2553;
    }
    .button-container button:hover {
      background: rgba(255, 255, 255, 0.9);
    }
    .button-container button:active:before {
      display: none;
    }
    .button-container button:focus:before {
      display: none;
    }
  }
}

@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
