.hidden-dn {
	display: none!important;
}

.main-wrapper {
	position: absolute;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	top: 4rem;
	bottom: 0;

	width: 100%;
}

#patron-graph {
	position: absolute;

	left: 12.4rem;
	right: 0;

	height: 100%;

	perspective: 100px;
}

#graph-wrapper{
	position: absolute;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-direction: row;

	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	overflow-y: auto;
}
