.vid-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;

	flex-direction: row;
	justify-content: flex-end;

	position: relative;

	height: 4rem;

	background: #ffffff;

	text-align: center;
	.material-shadow;

	z-index: 1;
	.navbar-item {
		display: flex;
		align-items: center;
		margin: 0 1rem 0 0;
		a {
			color: #000;
		}
	}
}
