.post-wrapper {
	position: relative;
	align-self: center;

	width: 100%;
	max-width: 45rem;
	min-height: 38rem;
	min-width: 45rem;

	padding: 1rem;
	margin: 1rem 0;

	background: #FFFFFF;
	box-sizing: border-box;
	.material-shadow;

	.image-wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;

		height: 31rem;
		width: 30rem;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.header-content {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		flex-direction: column;

		position: absolute;

		right: 1rem;
		top: 1rem;
		width: 12rem;

		padding: 0 1rem;

		background: @el-light-gray;

		color: @el-darck-gray-text;

		box-sizing: border-box;
		border: 1px solid @el-light-gray-border;

		img {
			border-radius: 50%;
			align-self: center;
			margin: 1rem 0 0;
		}

		.header-author {
			margin: 0.5rem 0 0;

			text-align: center;

			span {
				text-transform: capitalize;
				font-weight: bold;
			}
		}

		.header-date {
			font-size: 0.8rem;
			text-align: center;

			margin: 0 0 1rem;
		}
	}

	.post-meta {
		max-width: 29rem;
		min-height: 3rem;

		margin: 1rem 0 0;

		border: 1px solid @el-light-gray-border;
		padding: 0.5rem;

		background: @el-light-gray;
		color: #525252;

		overflow: hidden;

		.post-title, .post-desc {
			line-height: 20px;

			white-space: nowrap;
			text-overflow: ellipsis;
			margin: 0;
		}
	}

	.social-stat {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		flex-direction: column;

		position: absolute;

		right: 1rem;
		top: 13rem;

		width: 12rem;

		padding: 1rem;
		box-sizing: border-box;

		background: @el-light-gray;

		border: 1px solid @el-light-gray-border;

		.likes, .comments {
			display: flex;
			flex-direction: row;

			align-items: center;
			justify-content: space-between;
			margin: 0;

			color: @el-darck-gray-text;

			span {
				margin: 0 1rem 0 0;

				font-size: 2rem;
				font-weight: 900;
				color: @el-blue;
			}
		}
		.likes {
			i {
				color: @el-like-red;
				font-size: 2rem;
			}
		}

		.comments {
			i {
				font-size: 2rem;
				color: @el-darck-gray-text;
			}
		}
	}

	.post-actions {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 1rem;
		top: 21rem;
		width: 12rem;
		padding: 1rem;
		box-sizing: border-box;
		background: #FBFBFB;
		border: 1px solid #F7F7F7;

		.submit-like,
		.submit-comment{
			margin: 0.1rem;
			text-align: center;
			cursor: pointer;

			i {
				font-size: 4rem;
			}

		}
		.submit-like {
			i {
				color: @el-like-red;
			}
		}

		.submit-comment {
			i {
				color: @el-darck-gray-text;
			}
		}
	}
}
