doctype html
html
	head
		title= 'El Patron'
		meta(name= 'viewport', content= 'width=device-width, initial-scale=1.0')
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel= 'stylesheet', href= '/../stylesheets/style.css')
	body
		block content
