extends layout

block content
	nav.vid-nav
		.navbar-item.el-patrono
			a(href="/logout")
				i.material-icons directions_run
	#user-photo
		img(src='/../profile/api/uploadAvatar?type=thumb', id='avatars')
	.main-wrapper

		section.left-profile
			.user-container
				.menu-item.hidden-dn
					form(name='avatar', action='', method='post', id='uploadForm', enctype='multipart/form-data')
						input(name='avatar', type='file', id='uploadImage', style='display:none')
				.menu-item
					p(class='action-button' id='new-post')
						i.material-icons add
						span New post
				.menu-item
					p(class='action-button' id='view-wall')
						i.material-icons grain
						span View wall
				.menu-item
					p(class='action-button' id='profile-settings')
						i.material-icons power_settings_new
						span Profile settings

		section.patrons#patron-graph

			#graph-wrapper
		include ./micros/popups/newPost.jade


	script(type="text/javascript", src="/../javascripts/app.js")
