@import "partials/colors.less";
@import "partials/mixins.less";

html, body{
	position: absolute;
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	background: #EFEFEF;

	overflow: hidden;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


section {
	display: block;
}


@import "partials/profile.less";
@import "partials/topNav.less";
@import "partials/leftNavigation.less";
@import "partials/postPopups.less";
@import "partials/homepage.less";
@import "partials/logincard.less";
@import "partials/wallpost.less";
