extends layout

block content
	.homepage-wrapper

		.titles
			h1.title El Patr&#243;n

		mixin input(type, label, val)
			.input-container
				input(name='#{type}' type='#{type}' value='#{val}' required)
				label(for='#{label}')=label
				.bar
		mixin button(text)
			.button-container
				button(type='submit')
					span=text

		.containerLogin(class=typeof retry === 'undefined' ? '' : 'active')
			.cardLogin
			.cardLogin
				h1.title Login
				p.reason #{reason}
				form(method='post', action='/login', id='signIn', autocomplete='off')
					+input('username', 'Email', 'test1@test.com')
					+input('password', 'Password', '1')
					+button('Go')
			.cardLogin.alt
				.toggle
				h1.title Register
					.close
				p.info #{info}
				form(method='post', action='/register', id='signUp', autocomplete='off')
					+input('email', 'Email', 'test1@test.com')
					+input('username', 'Username')
					+input('password', 'Password')
					+button('Next')
	script(type="text/javascript", src="/../javascripts/loginCard.js")
